<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon01</string>
		<key>text</key>
		<string>动态更新</string>
	</dict>
	<key>2</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon02</string>
		<key>text</key>
		<string>通讯录</string>
	</dict>
	<key>3</key>
	<dict>
		<key>function</key>
		<string>NUDocsViewController</string>
		<key>icon</key>
		<string>icon03</string>
		<key>text</key>
		<string>文档中心</string>
	</dict>
	<key>4</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon04</string>
		<key>text</key>
		<string>图片中心</string>
	</dict>
	<key>5</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon05</string>
		<key>text</key>
		<string>问答中心</string>
	</dict>
	<key>6</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon06</string>
		<key>text</key>
		<string>投票中心</string>
	</dict>
	<key>7</key>
	<dict>
		<key>function</key>
		<string>NUTaskViewController</string>
		<key>icon</key>
		<string>icon07</string>
		<key>text</key>
		<string>任务中心</string>
	</dict>
	<key>8</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon08</string>
		<key>text</key>
		<string>日程中心</string>
	</dict>
	<key>9</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon09</string>
		<key>text</key>
		<string>群组</string>
	</dict>
	<key>10</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon10</string>
		<key>text</key>
		<string>邀请同事</string>
	</dict>
	<key>11</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon11</string>
		<key>text</key>
		<string>设置</string>
	</dict>
	<key>12</key>
	<dict>
		<key>function</key>
		<string></string>
		<key>icon</key>
		<string>icon12</string>
		<key>text</key>
		<string>我的应用</string>
	</dict>
	<key>MiddleBg</key>
	<string>homeBtnSep</string>
	<key>MiddleBtn2</key>
	<string>homeMessage</string>
	<key>MiddleBtn1</key>
	<string>homeCompose</string>
	<key>BtnCount</key>
	<integer>12</integer>
</dict>
</plist>
