<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DropDownList</key>
	<array>
		<dict>
			<key>Tag</key>
			<string>0</string>
			<key>Text</key>
			<string>我参与的任务</string>
		</dict>
		<dict>
			<key>Tag</key>
			<string>1</string>
			<key>Text</key>
			<string>我托付的任务</string>
		</dict>
		<dict>
			<key>Tag</key>
			<string>2</string>
			<key>Text</key>
			<string>我负责的任务</string>
		</dict>
		<dict>
			<key>Tag</key>
			<string>2</string>
			<key>Text</key>
			<string>我旁观的任务</string>
		</dict>
	</array>
	<key>Title</key>
	<string>任务中心</string>
</dict>
</plist>
